<div class="container">
  <div class="col-md-12">
    <form action="/spotify/show" method="POST" class="form-signin">
      <h2 align="center">Choose an artist</h2>
      <label>Name: </label>
      <input value="" name="name" type="text" class="form-control" placeholder="Name"/><br />
      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Update" />

    </form>
  </div>
</div>



