.form-signin {
  max-width: 30%;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 20px;
  background-color: #dff0d8;
  border: 1 px solid #0b97c4;
  border-radius: 15px;

  h2{
    text-align: center;
    margin-top: 0px
  }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















